# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.mypy_cache/
*.log
*.sqlite3
env/
venv/
.venv/
*.py

# C++ files 
# C++ build files
*.o
*.obj
*.exe
*.dll
*.so
*.out
*.a
*.lib
*.ncb
*.sdf
*.suo
*.vcxproj
*.vcxproj.user
*.cmake
CMakeCache.txt
CMakeFiles/

# java build files 
# Java files
*.class
*.jar
*.war
*.ear
*.log
*.iml
target/
.classpath
.project
.settings/
.idea/
*.swp
*.java

# cph file 
*.cph